/* http://meyerweb.com/eric/tools/css/reset/     v2.0 | 20110126    License: none (public domain) */  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } body *{box-sizing: border-box} html{ scroll-behavior: smooth }


body{ overflow: hidden }

:root{
  --orange: #FFA20F;
  --blue: #72ECFC;
}

.screen-reader-only{
  position: fixed;
  top: -1000px; left: -1000px;
  height: 0px; width: 0px; padding: 0px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  NAVIGATION                                                             ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.nav-wrapper{}

nav{
  /* position: fixed; */
  position: absolute;
  z-index: 999;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MOBILE                                                                 ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav .mobile{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  DESKTOP                                                                ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav .desktop{
  display: none; /* TOGGLED BY MEDIA QUERY */
    justify-content: space-between;
    align-items: center;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  TOP                                                                    ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top{
  top: 0; left: 0;
  width: 100%;
}

@media all and (min-width: 700px){
  nav.top .mobile{ display: none }
  nav.top .desktop{ display: flex }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MOBILE                                                                 ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top .mobile{
  width: 100%;
}

nav.top button.mobile-menu{
  border: none;
  background: none;
  padding: 8px;
}

nav.top button.mobile-menu .rect{
  width: 24px;
  height: 4px;
  background: pink;
  margin-bottom: 4px;
}

nav.top button.mobile-menu .rect:last-of-type{
  margin-bottom: 0;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  DESKTOP                                                                ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top .desktop{
  padding: 16px;
}

nav.top .desktop .logo{ opacity: 0 }

nav.top .desktop ul{
  display: flex;
}

nav.top .desktop ul li a{
  display: none; /* Maybe if I have time, I can do a full "more stuff" page */
  padding: 6px 8px 4px 12px;
  font-family: 'Univers',sans-serif;
  font-size: .875em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  
  text-decoration: none;
}

nav.top .desktop ul li a:hover{
  background: var(--orange);
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  SECTIONS                                                               ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section{
  width: 100%;
}

section .content-wrap{
  width: 100%;
    max-width: 1400px;
  margin: 0 auto;
}

.shapes{
  position: absolute;
}

.shapes .blue-box{
  position: absolute;
  border: 1px solid var(--blue);
  width: 200px; height: 200px;
}

.shapes img{
  position: absolute;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  HERO                                                                   ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.hero{
  position: relative;
  height: 100vh;
}

section.hero .content-wrap{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  max-width: 900px;
  height: 100%;
  padding: 32px;
}

section.hero .center{
  position: relative;
  width: 50%;
  margin: 0 auto;
}

section.hero .logo-img{ position: absolute; z-index: -1 }
section.hero .logo-img.one{
  top: 13.5%; right: 15%;
  width: 19%;
}
section.hero .logo-img.two{
  top: 33%; left: 11%;
  width: 30%;
}
section.hero .logo-img.three{
  bottom: 21%; left: 21%;
  width: 10%;
}

section.hero h2{
  width: 100%;
  font-family: 'Univers',sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 18px;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(.4em);
}

section.hero .center-logo{
  width: 100%;
  margin-top: -32px;
}

section.hero a{
  font-family: 'Univers', sans-serif;
  font-size: .875em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

section.hero a img{
  display: block;
  width: 50px; height: 50px;
  border: 1px solid var(--blue);
  padding: 8px;
  margin: 16px auto 0 auto;
}

section.hero a:hover img{
  background: var(--orange);
  box-shadow: 0 0 0 4px var(--orange);
}

section.hero .shapes.one{ top: -80px;left: 10%; }

section.hero .shapes.two{ bottom: 280px; left: 80px; }
section.hero .shapes.two .blue-box.two{ top: 199px }
section.hero .shapes.two img:first-of-type{ width: 400px; height: 400px; top: -50px; left: -250px }
section.hero .shapes.two img:last-of-type{ width: 200px; height: 200px; top: -100px; right: -300px; }

section.hero .shapes.three{ top: 100px; right: 300px; }
section.hero .shapes.three .blue-box.two{ top: 199px; left: 199px; }
section.hero .shapes.three img:first-of-type{ width: 400px; height: 400px; top: 100px; left: 100px }
section.hero .shapes.three img:last-of-type{ width: 100px; height: 100px; top: 50px; left: 50px; }

section.hero .shapes.four{ bottom: 50px;right: 30%; }
section.hero .shapes.four img{ width: 100px; height: 100px; top: 25px; left: 50px; }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  QUIZ                                                                   ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.quiz{
  position: relative;
  height: 100vh;
}

section.quiz button.prev,
section.quiz button.next {
  position: absolute;
  top: calc(50% - 8px);
  border: none;
  background: none;
}

section.quiz button.prev{ left: 64px }
section.quiz button.next{ right: 64px }

section.quiz button img{
  width: 56px;
  padding: 8px;
  border: 1px solid #72ECFC;
}

section.quiz button:hover img{
  background: var(--orange);
  box-shadow: 0 0 0 4px var(--orange);
}

section.quiz button.prev img{ transform: rotate(90deg) }
section.quiz button.next img{ transform: rotate(-90deg) }

section.quiz[data-step='step-1'] button.prev{ display: none }


section.quiz .content-wrap{
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 40px 0;
}

section.quiz h2{
  margin-bottom: 200px;

  font-size: .9em;
  font-family: 'Universe', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

section.quiz form{
  display: flex;
  width: 500%;
  transition: transform .4s linear;  
}

section.quiz p.disclaimer{
  position: absolute;
  bottom: 40px;
  width: 100%;

  font-family: 'Univers', sans-serif;
  font-size: .75em;
  letter-spacing: 1px;
  text-align: center;
}

section.quiz p.disclaimer span{
  background: var(--orange);
  border: 4px solid var(--orange);
    border-top: 6px solid var(--orange);
    border-right: 12px solid var(--orange);
}

section.quiz form .slider{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
  width: 80%;
  margin: 0;
    margin-left: 20%;
}

section.quiz form .slider .min,
section.quiz form .slider .max{
  font-family: 'Univers',sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section.quiz form .slider p:last-of-type{
  width: 100%;
  display: none;
}

section.quiz form input[type='range']{
  -webkit-appearance: none;
  appearance: none;
  flex: 2;
  width: calc(50% - 16px);
  height: 2px;
  padding: 0px;
  margin: 0 24px;
  background: var(--blue);
}

section.quiz form input[type='range']::-webkit-slider-thumb{
  appearance: none;
  width: 16px; height: 16px;
  background: var(--orange);
  border: 2px solid var(--orange);
}

section.quiz form .radios{
  display: flex;
    flex-wrap: wrap;
  width: 80%;
  margin: 0;
    margin-top: -49px;
    margin-left: 20%;
}

section.quiz form .radios > div{
  display: flex;
    align-items: center;
  width: 50%;
  min-height: 56px;
  margin-bottom: 16px;
}

section.quiz form .radios input{
  appearance: none;
  width: 20px; height: 20px;
  border: 2px solid var(--blue);
    border-radius: 50%;
  transform: translateY(-2px);
}

section.quiz form .radios input:checked{ background: var(--blue) }

section.quiz form .radios input:hover{ border: 4px solid var(--blue); cursor: pointer }

section.quiz form .radios label{
  width: calc(100% - 36px);
  margin-left: 8px;
  font-family: 'Univers',sans-serif;
  font-size: 1.125em;
  letter-spacing: 1px;
  line-height: 1.4;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  STEP                                                                   ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.quiz form .step .shapes.four{
  
}

section.quiz form .step .shapes.three img{
  width: 200px; top: 50px; left: -50px;
  z-index: -1;
}

section.quiz form .step .shapes.three img:last-of-type{
  width: 100px; top: -25px; left: -75px;
}

section.quiz form .step{
  width: 20%;
  padding: 32px 200px;
}

section.quiz form .step .top{
  display: flex;
  min-height: 200px;
  margin-bottom: 64px;
}

section.quiz form .step .top .blob{
  position: relative;
  width: 20%;
}

section.quiz form .step .top .blob p{
  position: absolute;
  top: -24px; right: 32px;
  font-family: 'Bodoni', serif;
  font-weight: 600;
  font-size: 13em;
  color: var(--orange);
}

section.quiz form .step .top .blob p::before{
  content: '';
  position: absolute;
  top: 8px; left: 0px;
  width: 90px; height: 90px;
  border: 1px solid var(--blue);
}

section.quiz form .step .top .blob img{
  position: absolute;
  z-index: -1;
  width: 170px; height: 170px;
  top: 26px; left: -58px;
}

section.quiz .step h3{
  width: 80%;
  font-family: 'Univers', sans-serif;
  font-size: 3.25em;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.2;
}

section.quiz .shapes.one{ top: 800px; right: 100px; }

section.quiz .shapes.two{ bottom: 50px; left: -100px; }
section.quiz .shapes.two .blue-box.two{ left:199px }
section.quiz .shapes.two img{ width: 200px; height: 200px; top: -100px; left: 100px; }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  INTRO STEP                                                             ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.quiz .step.step-one .intro{
  position: relative;
  z-index: 10;
}

section.quiz .step.step-one .intro h3{
  max-width: 750px;
  margin: 32px auto 0 auto;
  font-size: 4.8em;
}

section.quiz .step.step-one .intro p{
  max-width: 750px;
  margin: 32px auto 0 auto;
  font-size: 1.125em;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: 'Univers', sans-serif;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  MINEFIELD                                                              ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.minefield .content-wrap{
  height: 100vh;
  padding-top: 124px;
}

section.minefield .instructions{
  font-family: 'Univers',sans-serif;
  margin-bottom: 64px;
}

section.minefield .content-wrap #minefield-game{margin-bottom: 0px }


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  RESULT                                                                 ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.result{
  height: 100vh;
  padding: 2vh;
}

section.result .content-wrap{
  width: 90%;
  max-width: 10000px;
  display: flex;
    align-items: flex-end;
}

section.result .result-instructions{
  width: 50%;
  font-family: 'Univers',sans-serif;
  padding-bottom: 64px;
}

section.result .result-instructions h2{
  max-width: 600px;
  margin: 0 auto 0 0;
  font-weight: 600;
  font-size: 4.4em;
  text-align: left;
}

section.result .result-instructions p{
  max-width: 600px;
  font-size: 1.25em;
  line-height: 1.4;
  margin-top: 16px;
}

section.result .result-instructions a{ 
  display: none; /* Maybe if I have time, I can do a full "more stuff" page */
}

#poster{
  display: flex;
    justify-content: center;
  transform: scale(.9);
}

section.result .poster-parent{
  width: 96vh;
  border: 1px solid var(--blue);
  overflow: hidden;
}

section.result .poster-row{
  display: flex;
  /* border-bottom: 1px solid var(--blue); */
  width: 96vh;
}

section.result .poster-row:last-of-type{
  border-bottom: none;
}

section.result .poster-tile{
  position: relative;
  width:8vh; height: 8vh;
  padding: 0;
  text-align: center;
  /* border-right: 1px solid var(--blue); */
  text-transform: uppercase;
}

section.result .poster-row .poster-tile:last-of-type{
  border-right: none;
}

section.result .poster-row .poster-tile span{
  display: block;
}

section.result .poster-row .poster-tile[data-bombs='1'] span{
  font-family: 'Bodoni', serif;
  font-size: 1.75em;

  transform: translateY(2.25vh)
}

section.result .poster-row .poster-tile[data-bombs='2'] span{
  font-family: 'Univers', sans-serif;
  font-weight: 600;
  font-size: 2.5em;

  transform: translateY(2vh)
}

section.result .poster-row .poster-tile[data-bombs='3'] span{
  font-family: 'Univers', sans-serif;
  font-weight: 600;
  font-size: 6em;

  transform: translateY(-1.1vh)
}

section.result .poster-row .poster-tile[data-bombs='4'] span,
section.result .poster-row .poster-tile[data-bombs='5'] span{
  font-family: 'Univers', sans-serif;
  font-weight: 600;
  font-size: 8em;

  transform: translate(-.75vh,-2.75vh)
}

section.result .poster-parent[data-outcome='lose'] .poster-row .poster-tile[data-bombs='3'],
section.result .poster-parent[data-outcome='lose'] .poster-row .poster-tile[data-bombs='4']{
  color: var(--orange);
}

section.result .poster-row .poster-tile[data-bombs='1'][data-adjacent='1'] span{ font-size: 1.25em; transform: translateY(2.75vh) }
section.result .poster-row .poster-tile[data-bombs='1'][data-adjacent='3'] span,
section.result .poster-row .poster-tile[data-bombs='1'][data-adjacent='4'] span,
section.result .poster-row .poster-tile[data-bombs='1'][data-adjacent='5'] span{ font-size: 2em }

section.result .poster-tile img{
  position: absolute;
  top: -1vh; left: -1vh;
  width: 10vh;
  z-index: -1;
}

section.result .poster-tile[data-state='flagged-bomb'] img{
  transform: scale(.5);
}

section.result .poster-tile[data-distance='near'] img{ transform: scale(2) }
section.result .poster-tile[data-distance='far'] img{ transform: scale(.5) }

section.result .poster-tile[data-state='bomb-detonated'] img{
  top: -20vh;left: -20vh;
  width: 48vh;
  z-index: -2;
}